:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

/* Header / tabs */

.smoothiHeaderToolBar {
  height: 50px;
  margin: 0px !important;
  padding: 0px !important;
}

.smoothiPageHeader {
  padding-top: 50px;
}

.smoothiPageHeaderContent {
  height: 36px;
  --offset-bottom: 0px;
  --offset-top: 100px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --background: #304afc;
}

.smoothiPageHeaderInfo {
  height: 50px;
  text-align: center;
  --offset-bottom: 0px;
  --offset-top: 100px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --background: #304afc;
}

.headerTabInfoLabel {
  color: #ffffff;
}

.ytdHeaderIcon {
  height: 10px;
  display: inline-block;
  margin-left: 5px;
}

.diagram1Container {
  width: auto !important;
  align-items: center;
  background: #304afc;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  height: 95px;
}

.walletGoalsTab {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 165px !important;
}

.headerTabBtn {
  color: #ffffff;
  width: 50%;
  margin: 0px !important;
  padding: 0px !important;
}

.headerTabBtnLabel {
  margin: 0px !important;
  padding: 0px !important;
}

.headerTabBtnLabelSelected h2 {
  font-weight: bold;
}

.headerTabBtnLabelWhite {
  color: #ffffff;
}

.slides1 {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 125px !important;
  padding-bottom: 125px !important;
}

.slide1 {
}

.diagram1 {
}

.contentContainerDivGoals {
  width: 100%;
  background: white;
  margin: 20px;
  border-radius: 20px;
  margin-top: -35px;
}

.diagram5 {
  display: inline-block;
  width: 189px;
  margin-top: 30px;
}

/* Content */

.itemContainerCard {
}

.itemContainerItem {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --inner-padding-bottom: 10;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  --background: #d3d9fe;
  border-radius: 10px;
  margin: 5px 10px !important;
}

.itemContainerLogo1 {
  margin-top: 10px !important;
}

.itemContainerLogo2 {
  margin-top: 25px !important;
}

.diagramSquare1 {
  color: #d666fa;
  margin-top: 12px !important;
  margin-right: 10px !important;
  height: 40px;
  width: 40px;
}

.diagramSquare2 {
  color: #3de7f1;
  margin-top: 12px !important;
  margin-right: 10px !important;
  height: 40px;
  width: 40px;
}

.diagramSquare3 {
  color: #945cf9;
  margin-top: 12px !important;
  margin-right: 10px !important;
  height: 40px;
  width: 40px;
}

.itemContainerInfoItem1,
.itemContainerInfoItem2 {
  margin: 0px !important;
  padding: 0px !important;
  --background: transparent;
  padding-bottom: 10px !important;
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

.infoItemLabel1,
.infoItemLabel2,
.infoItemLabel3,
.infoItemLabel4 {
  margin: 0px !important;
  padding: 0px !important;
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

.infoItemLabelGoals1,
.infoItemLabelGoals2 {
  margin: 0px !important;
  margin-right: 15px !important;
  padding: 0px !important;
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

.infoItemLabelGoals1 h2,
.infoItemLabelGoals2 h2 {
  font-weight: bold;
}

.infoItemLabel2 .infoItemText2 {
  font-weight: normal !important;
}

.infoItemTextGreen {
  color: #00aa00;
}

.infoItemTextRed {
  color: #ff0000;
}

.ion-accordion-toggle-icon {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}
