.contentHeader {
  margin: 0px;
  padding: 0px;
  margin-left: 14px;
  margin-top: 10px;
  font-size: 30px;
}

/* Header / tabs */

.smoothiHeaderToolBar {
  height: 50px;
  margin: 0px !important;
  padding: 0px !important;
}

.smoothiPageHeader {
  padding-top: 50px;
}

.smoothiPageHeaderContent {
  height: 36px;
  --offset-bottom: 0px;
  --offset-top: 100px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}

.diagram1 {
  position: absolute;
  height: 250px;
  width: 100%;
  margin-top: 5px;
}

.contentContainer {
  z-index: 10;
  --background: transparent;
}

.contentContainerDiv {
  background: white;
  margin: 10px;
  border-radius: 20px;
  padding-top: 10px;
  margin-top: -70px;
}
