/* Header & footer */

.smoothiHeader,
.smoothiFooter {
  --background: #304afc;
  --color: #ffffff;
}

/* Header */

.smoothiHeaderToolBar {
  --color: #ffffff;
  --background: #304afc;
}

.smoothiHeaderSettingsIcon {
  margin-left: 20px;
  margin-top: 5px;
}

.smoothiHeaderAccountIcon {
  height: 30px;
  margin-right: 20px;
  margin-top: 5px;
}

/* Side-menu */

.sidemenu,
.sidemenuHeader,
.sidemenuHeader2,
.sidemenucontent,
.sidemenubtn {
  --background: #ffffff;
  --color: #304afc;
}

.sidemenulist {
  background: #ffffff;
}

.smoothiSideMenuAccountIcon {
  height: 50px;
  display: inline-block;
}

.sidemenuHeadertitle {
  font-size: 20px !important;
  display: inline-block;
  color: black;
}

.sidemenuHeader {
  text-align: center;
}

.sideMenuBtnIcon {
  color: #304afc;
}

.sidemenubtn2Container {
  text-align: center;
  height: 200px;
}

.sidemenubtn2 {
  --background: #ffffff;
  --color: #304afc;
  border: 1px solid;
  margin-top: 100px;
}

/* Footer (tabs) */

.smoothiFooter {
  padding-bottom: 0px;
  margin-top: 2px;
}

.tabBtnBackground {
  color: #304afc;
}

.tabBtn {
  --color: #ffffff;
  --color-selected: #ef7754;
}

.sidemenuHeadertitle {
  font-size: 30px;
}

.sidemenuHeader2 {
  padding-top: 20px;
}
